body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Glass Antiqua', cursive;
}

div{
width: 80%;
height: 600px;
margin: 20px auto;
background-image:url(../images/pexels-benjamin-suter-3617500\ \(1\).jpg) ;
background-repeat: no-repeat;
background-size: cover;
background-position: 50% ;
background-attachment: fixed;
}




