body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Glass Antiqua', cursive;
    text-align: center ;    
}

img{
    width: 80%;
    border-radius: 10px ;
/*     filter: blur(4px); */

    filter:grayscale(100%)
}

