body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Glass Antiqua', cursive;
    text-align: center ;    
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Glass Antiqua', cursive;
}

div{
width: 50%;
height: auto;
background-color: gray;
}
